.container-fluid{
  background-image: linear-gradient(to right, rgb(38, 38, 246),rgb(88, 88, 249));
}

h1{
  display: inline-block;
}
li{
  list-style: none;
text-align: left;
}
i{
padding-right: 25px;
font-size: 20px;
font-weight: 700;
}
.btn{
  width: 95%;
  padding: 10px;
}


#box{
  padding: 20px;
}
ul{
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.btn{
 display: flex;
 justify-content: center;
 border-radius: 25px;
}
.gray{
  color: gray;
}
.crd{
  text-align: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
  background-color: white;
  border-radius: 15px;
  transform: scale(1);
  overflow: hidden;
}

.crd:hover{
  transform: scale(1.05);
  transition: 0.5s;
}
.mo{
  font-size: 30px;
  font-weight: 600;
}
h1{
  font-weight: 700;
}
.para{
  color: rgb(179, 175, 175);
  font-weight: 700;

}